body{  
    font-size: 12px; 
    line-height: 150%; 
    text-align:center
}
.chess_box,.menu_dy,.menu_qj{ display:none}
.menu_box{ 
    display:none1; 
    width:300px; 
    height:200px; 
    padding-top:50px; 
    background:url(../background_3.jpg); 
    margin:110px auto 0;}
.menu_box a{ 
    width:214px; 
    height:46px; 
    text-align:center; 
    line-height:1px; 
    background:url(../background_2.jpg)center 0 no-repeat; display:block; 
    margin:10px 10px 10px 45px; 
    font: normal 18px/46px"�?�???�?"; 
    color:#FF8A00; 
    cursor:pointer; 
}
.menu_box a:hover{ 
    background: url(../background_2.jpg) center -46px no-repeat; 
    color: #FFA433;
}
.menu_info{ 
    background:#463521; color:#FFF; 
    padding:5px 10px; line-height:190%; 
    text-align:left; 
    width:194px;
    margin:10px 10px 10px 45px;
}
.menu_fh{ 
    background:url(../fh.png);
    width:14px;
    height:14px; 
    float:right; 
    cursor:pointer}
.bn_box input{font: normal 14px/46px"�?�???�?"; margin:3px 5px 0; padding:2px; width:100px }
